.navbar-wrapper {
  position: fixed;
  top: 30px;
  left: 130px;
  width: calc(100% - 280px);
  display: flex;
  justify-content: center;
  z-index: 999;
}

.navbar {
  display: flex;
  background: rgba(31, 31, 31, 0.4); /* semi-transparent */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 5px 16px;
  color: #e5e5e5;
  width: 100%;
  max-width: 810px;
  transition: background 0.3s ease;
}

.navbar-options {
  display: flex;
  list-style: none;
  gap: 10px;
  font-weight: 400;
}
