.task-list ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
.task-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.task-list-right ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
.task-list-right li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.task-both-list {
  display: flex;
  justify-content: space-between;
}
