body {
  margin: 0%;
  padding: 0%;
}
.main-sidebar ul {
  margin: 0%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #f1f5f9;
  gap: 20px;
}

.main-sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #1e293b;
  max-width: 50px;
  min-height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #cbd5e1;
  border-left: 1px solid #cbd5e1;

  border-bottom: 1px solid #cbd5e1;
}
.main-sidebar div {
  color: #0ea5e9;
  padding: 10px;
  font-size: 20px;
}
.main-setting-icon {
  position: relative;
}
.main-sidebar-names {
  position: absolute;
  top: 0px;
  left: 52px;
  background-color: #1e293b;
  width: 120px;
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 0.1px solid #cbd5e1;

  border-bottom: 0.1px solid #cbd5e1;
}
.main-sidebar-names ul {
  /* margin-top: 25px; */
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0%;
  color: #f1f5f9;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.main-sidebar-names li {
  transition: background-color 0.2s ease;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid transparent;
  width: 70%;
  text-align: center;
}
.main-sidebar-names li:hover {
  background-color: #334155;
  border: 1px solid #334155; /* cyan-400 */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.main-all {
  display: flex;
  position: fixed;
  top: 50px;
}
.main-settings {
  position: relative;
}
