/* .header {
  position: fixed;
  height: 49px;
  width: 100%;
  background-color: #1e293b;
  color: #f8fafc;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-right: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cbd5e1;
  border-bottom: 0.1px solid #cbd5e1;
  box-sizing: border-box;
}

.header img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.header h1 {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
} */

.header {
  position: relative;
  height: 49px;
  width: 100;
  background-color: #1e293b;
  color: #f8fafc;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cbd5e1;
  border-bottom: 0.1px solid #cbd5e1;
}

.header img {
  height: 100%; /* Fills the full 49px height */
  width: auto; /* Maintains aspect ratio */
  display: block;
}

.header h1 {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}
